@font-face {
  font-family: 'Halvar';
  src: url('../font/HalvarBreit-Lt.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Halvar';
  src: url('../font/HalvarBreit-Rg.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: initial;
}

body {
  background-image: url(../img/img/body.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  max-width: 1130px;
  width: 100%;
  margin: 0 auto;
}

header {
  margin-bottom: 25px;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  height: 72px;
  border-radius: 12px;
  margin-top: 32px;
  backdrop-filter: blur(16px);
  box-shadow: 0px 0px 16px 0px rgba(255, 255, 255, 0.25) inset;
  background: rgba(255, 255, 255, 0.1);
  position: relative;
  overflow: hidden;
}

.border_wrap {
  position: relative;
}

.border_wrap::after,
.border_wrap::before,
.border::after,
.border::before {
  position: absolute;
  content: '';
  display: block;
  width: 32px;
  height: 16px;
  z-index: 1;
}

.border_wrap.symmetry::after,
.border_wrap.symmetry::before,
.border.symmetry::after,
.border.symmetry::before {
  width: 32px;
  height: 32px;
}

.border_wrap::before {
  top: -1px;
  left: -1px;
  background-image: url(../img/icon/top_left.svg);
}

.border_wrap::after {
  bottom: -1px;
  left: -1px;
  background-image: url(../img/icon/bottom_left.svg);
}

.border::before {
  top: -1px;
  right: -1px;
  background-image: url(../img/icon/top_right.svg);
}

.border::after {
  bottom: -1px;
  right: -1px;
  background-image: url(../img/icon/bootom_right.svg);
}

.border_wrap.symmetry::before {
  background-image: url(../img/icon/top_left_symmetry.svg);
}

.border_wrap.symmetry::after {
  background-image: url(../img/icon/bottom_left_symmetry.svg);
}

.border.symmetry::before {
  background-image: url(../img/icon/top_right_symmetry.svg);
}

.border.symmetry::after {
  background-image: url(../img/icon/bottom_right_symmetry.svg);
}

.border {
  width: 100%;
  height: 100%;
  position: relative;
}

.header_flex {
  display: flex;
  align-items: center;
  height: 72px;
  flex-shrink: 0;
}

.header_flex_item {
  display: flex;
  align-items: center;
}

.header_flex_item span {
  color: #fff;
  font-size: 16px;
  margin-left: 4px;
  width: 82px;
}

.header_flex_item img {
  width: 24px;
  display: block;
}

.header_flex_line {
  width: 40px;
  height: 1px;
  background: linear-gradient(90deg, #FF7801 30.04%, #FFFFFF 100%);
  margin: 0 4px;
}

.header_flex.one {
  animation: animate 90s linear infinite;
  animation-delay: -90s;
}

.header_flex.too {
  animation: animate-two 90s linear infinite;
  animation-delay: -45s;
}


@keyframes animate {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes animate-two {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-200%);
  }
}

.header_btn {
  display: flex;
  margin: 40px 0 0px 0;
  justify-content: space-between;
}

h1 {
  color: #fff;
  font-size: 128px;
  font-weight: 400;
  line-height: 128px;
  text-align: center;
}

.header_btn_left,
.header_btn_right {
  max-width: 264px;
  width: 100%;
  height: 88px;
}

.header_btn_right {
  display: flex;
  align-items: center;
}

.header_btn_right_box {
  width: 100%;
}


.header_btn_left a,
.header_btn_right_box a {
  width: 100%;
  position: relative;
  backdrop-filter: blur(16px);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  border-radius: 12px;
  border: 1px solid rgba(124, 139, 154, 0.2);
  position: relative;
  transition: .6s;
}

.header_btn_left a:hover,
.header_btn_right_box a:hover {
  border: 1px solid rgba(255, 120, 1, 0.2);
}

.header_btn_box {
  width: 100%;
  height: 40px;
  position: relative;
  margin-bottom: 8px;
}

.header_btn_box::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 10%;
  width: 80%;
  height: 1px;
  background: linear-gradient(90deg, rgba(124, 139, 154, 0) 0%, rgba(124, 139, 154, 1) 50%, rgba(124, 139, 154, 0) 100%);
  transition: .6s;
}

.header_btn_box:hover::after,
.header_btn_box:hover::before {
  background: linear-gradient(90deg, rgba(255, 120, 1, 0) 0%, rgba(255, 120, 1, 1) 50%, rgba(255, 120, 1, 0) 100%);
}

.header_btn_left a:hover::after,
.header_btn_right_box a:hover::after,
.header_btn_left a:hover::before,
.header_btn_right_box a:hover::before {
  background: linear-gradient(180deg, rgba(255, 120, 1, 0) 0%, rgba(255, 120, 1, 1) 50%, rgba(255, 120, 1, 0) 100%);
}

.header_btn_box::before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0px;
  left: 10%;
  width: 80%;
  height: 1px;
  background: linear-gradient(90deg, rgba(124, 139, 154, 0) 0%, rgba(124, 139, 154, 1) 50%, rgba(124, 139, 154, 0) 100%);
  z-index: 2;
  transition: .6s;
}

.header_btn_left a::after,
.header_btn_right_box a::after {
  content: '';
  display: block;
  position: absolute;
  top: 20%;
  left: 0%;
  width: 1px;
  height: 60%;
  background: linear-gradient(180deg, rgba(124, 139, 204, 0) 0%, #7C8B9A 50%, rgba(124, 139, 154, 0) 100%);
  transition: .6s;
}

.header_btn_left a::before,
.header_btn_right_box a::before {
  content: '';
  display: block;
  position: absolute;
  top: 20%;
  right: 0%;
  width: 1px;
  height: 60%;
  background: linear-gradient(180deg, rgba(124, 139, 154, 0) 0%, #7C8B9A 50%, rgba(124, 139, 154, 0) 100%);
  transition: .6s;
}

.header_btn_left a span,
.header_btn_right_box a span {
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: rgba(255, 120, 1, 1);
}

.header_btn_right_box a {
  display: flex;
}

.header_btn_headling {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -10px;
}

.header_btn_headling p {
  font-family: 'Halvar';
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32em;
  text-align: center;
  color: #fff;
}

.header_btn_right_user {
  width: 88px;
  height: 88px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(124, 139, 154, 0.2);
  flex-shrink: 0;
  margin-right: 8px;
  transition: .6s;
  position: relative;
  overflow: hidden;
}

.header_btn_right_user::after {
  border-top: 1px solid rgba(124, 139, 154, 1);
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 103%;
  height: 100%;
  border-radius: 50%;
  transition: .6s;
}

.header_btn_right_user::before {
  border-bottom: 1px solid rgba(124, 139, 154, 1);
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 103%;
  height: 100%;
  border-radius: 50%;
  transition: .6s;
}

.header_btn_right_user:hover::after,
.header_btn_right_user:hover::before {
  border-color: #EB6F02;
}

.line_light {
  width: 100%;
  height: 1px;
  background: linear-gradient(90deg, rgba(72, 73, 74, 0) 0%, rgba(72, 73, 74, 0) 0%, #48494A 50.23%, rgba(72, 73, 74, 0) 100%);
  position: relative;
}

.line_light.top {
  margin-top: -100px;
}

.line_light.left,
.line_light.right {
  background: linear-gradient(90deg, rgba(163, 131, 101, 0) 0%, #9B8775 49.56%, rgba(163, 131, 101, 0) 100%);
}

.line_light::after {
  content: '';
  display: block;
  top: 0;
  background: linear-gradient(90deg, rgba(255, 120, 1, 0) 55.84%, rgba(255, 120, 1, 0) 55.84%, #FF7801 100%);
  position: absolute;
  height: 1px;
}

.line_light.center::after {
  left: 0;
  width: 50%;
}

.line_light.right::after {
  right: 0;
  width: 50%;
}

.line_light.left::after {
  left: 0;
  width: 50%;
  transform: rotate(180deg);
}

.line_light::before {
  content: '';
  display: block;
  top: -7px;
  width: 58px;
  background-image: url(../img/icon/line_light.png);
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  height: 15px;
}

.line_light.center::before {
  left: calc(50% - 29px);
}

.line_light.right::before {
  right: -10px;
}

.line_light.left::before {
  left: -10px;
  transform: rotate(180deg);
}

.main h2 {
  font-size: 64px;
  font-weight: 400;
  line-height: 128px;
  text-align: center;
  color: #fff;
  margin-top: 62px;
}

.main h3 {
  font-size: 40px;
  font-weight: 400;
  line-height: 128px;
  text-align: center;
  color: #fff;
  margin-top: 57px;
}

.main_flex {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.main_flex_collection_btn {
  width: 264px;
  height: 88px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #fff;
  margin-bottom: 24px;
  position: relative;
  transition: .6s;
}

.main_flex_collection_btn:hover {
  color: rgba(255, 120, 1, 1);
}

.button_orange {
  background: linear-gradient(90deg, #FFCDA0 0%, #EB6F02 100%);
  transition: .6s;
  position: relative;
}

.button_orange:hover {
  background: linear-gradient(90deg, #FFFFFF 0%, #FFB778 100%);
}

.button_orange:hover::after {
  background: linear-gradient(90deg, #FF7801 0%, rgba(255, 120, 1, 0.5) 100%);
}

.button_orange::after {
  content: '';
  position: absolute;
  background: linear-gradient(90deg, #FFFFFF 0%, rgba(235, 111, 2, 1) 100%);
  top: -1px;
  left: -1px;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  display: block;
  border-radius: 12px;
  z-index: -1;
}

.main_flex_collection {
  width: 292px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.main_flex_collection_item {
  width: 292px;
  margin-top: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 212px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  position: relative;
  transition: .6s;
}

.main_flex_collection_item::after {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 48px;
  height: 212px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/icon/ugl_left.png);
  content: '';
  transition: .6s;
}

.main_flex_collection_item::before {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 48px;
  height: 212px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/icon/ugl_right.png);
  content: '';
  transition: .6s;
}

.main_flex_collection_item:hover::after {
  background-image: url(../img/icon/ugl_left_hover.png);
}

.main_flex_collection_item:hover::before {
  background-image: url(../img/icon/ugl_right_hover.png);
}

.main_flex_collection_item:hover span {
  color: #EB6F02;
}

.main_flex_collection_item_wrap {
  width: 262px;
  height: 184px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(16px);
  box-shadow: 0px 0px 16px 0px rgba(255, 255, 255, 0.25) inset;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 12px;
}

.main_flex_collection_item_wrap span {
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #fff;
  margin-top: 16px;
  display: block;
  transition: .6s;
}

.main_flex_collection_item_wrap p {
  font-family: 'Halvar';
  margin-top: 8px;
  color: rgba(255, 255, 255, 0.64);
  font-size: 14px;
  font-weight: 300;
  line-height: 14px;
  text-align: center;
}

.main_more {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 52px;
  transition: .6s;
  width: 200px;

}

.main_more img {
  transition: .6s;
}

.main_more:hover img {
  transform: translateX(10px);
}

.main_more span {
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: rgba(255, 120, 1, 1);
  margin-right: 8px;
  display: block;
  transition: .6s;
}

.main_more:hover span {
  color: #fff;
}

footer {
  margin: 80px auto 40px auto;
  max-width: 744px;
  width: 100%;

}


.footer {
  width: 100%;
  height: 128px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(16px);
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 96px;
  position: relative;
}

.footer::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 10%;
  width: 80%;
  height: 1px;
  background: linear-gradient(90deg, rgba(124, 139, 154, 0) 0%, rgba(124, 139, 154, 1) 50%, rgba(124, 139, 154, 0) 100%);
  transition: .6s;
  z-index: 1;
}

.footer::before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 10%;
  width: 80%;
  height: 1px;
  background: linear-gradient(90deg, rgba(124, 139, 154, 0) 0%, rgba(124, 139, 154, 1) 50%, rgba(124, 139, 154, 0) 100%);
  transition: .6s;
  z-index: 1;
}

.footer a {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  width: 168px;
  height: 32px;
  background: linear-gradient(90deg, #FFCDA0 0%, #EB6F02 100%);
  position: relative;
  transition: .6s;
}

.footer a:hover {
  background: linear-gradient(90deg, #FFFFFF 0%, #FFB778 100%);
}

.footer a:hover::after {
  background: linear-gradient(90deg, #FF7801 0%, rgba(255, 120, 1, 0.5) 100%);
}
.footer a i{
  width: 20px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  transition: .6s;
}

.footer a.one i {
  background-image: url(../img/icon/telegram.svg);
}

.footer a.too i {
  background-image: url(../img/icon/twitter.svg);
}

.footer a.free i {
  background-image: url(../img/icon/whats_app.svg);
}

.footer a.one:hover i {
  background-image: url(../img/icon/telegram_hover.svg);
}

.footer a.too:hover i {
  background-image: url(../img/icon/twitter_hover.svg);
}

.footer a.free:hover i {
  background-image: url(../img/icon/whats_app_hover.svg);
}


.footer a::after {
  content: '';
  position: absolute;
  background: linear-gradient(90deg, #FFFFFF 0%, rgba(235, 111, 2, 1) 100%);
  top: -1px;
  left: -1px;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  display: block;
  border-radius: 6px;
  z-index: -1;
  display: none;
}

.footer a:hover span {
  color: rgba(255, 120, 1, 1);
}

.footer a span {
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  text-transform: uppercase;
  margin-left: 8px;
  display: block;
  color: #fff;
  transition: .6s;
}

.addition {
  position: relative;
}

.addition i {
  font-family: 'Halvar';
  position: absolute;
  top: -12px;
  left: 50%;
  transform: translateX(-50%);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: rgba(255, 120, 1, 1);
  box-shadow: 0px 0px 20px 0px rgba(255, 120, 1, 1);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(60, 33, 9, 1);
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
}

.addition.top i {
  top: -50px;
}

.main_flex_rune {
  width: 600px;
  height: 1600px;
}
.main_model{
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  height: 300px;
  z-index: 10;
}

.main_flex_rune_item {
  width: 240px;
  height: 240px;
  transition: .6s;
}

.main_flex_rune_item:hover span {
  color: #FF7801;
}

.main_flex_rune_item:hover {
  transform: scale(1.08);
}

.main_flex_rune_item span {
  color: #fff;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
  position: absolute;
  bottom: -20px;
  left: 0px;
  display: block;
  width: 240px;
  letter-spacing: -0.5px;
  transition: .6s;
}

.main_flex_rune::after {
  background-image: url(../img/icon/main_light_noKristal.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  content: '';
  width: 100%;
  height: 1616px;
  display: block;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
}

.main_flex_rune_first {
  position: absolute;
  top: 440px;
  left: calc(50% - 230px)
}

.main_flex_rune_first .big {
  width: 240px;
  height: 240px;
  background-image: url(../img/img/rune/1/1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  animation: anim 2.4s linear infinite;
  z-index: 3;
}

.main_flex_rune_first .middle {
  width: 240px;
  height: 240px;
  background-image: url(../img/img/rune/1/2.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  animation: anim1 3.4s linear infinite .5s;
  z-index: 2;
}

.main_flex_rune_first .small {
  width: 240px;
  height: 240px;
  background-image: url(../img/img/rune/1/3.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  animation: anim2 2.8s linear infinite;
  z-index: 1;
}

@keyframes anim {
  0% {
    top: 0px;
  }

  50% {
    top: 8px;
  }

  100% {
    top: 0px;
  }
}

@keyframes anim1 {
  0% {
    top: 0px;
  }

  50% {
    top: 15px;
  }

  100% {
    top: 0px;
  }
}

@keyframes anim2 {
  0% {
    top: 0px;
    transform: scale(1);
  }

  50% {
    top: 8px;
    transform: scale(1.02);
  }

  100% {
    top: 0px;
    transform: scale(1);
  }
}

.main_flex_rune_second {
  position: absolute;
  top: 1140px;
  left: calc(50% + 10px)
}

.main_flex_rune_second .big {
  width: 240px;
  height: 240px;
  background-image: url(../img/img/rune/2/sale1.png);
  animation: anim 2.4s linear infinite .7s;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
}

.main_flex_rune_second .middle {
  width: 240px;
  height: 240px;
  background-image: url(../img/img/rune/2/sale2.png);
  animation: anim1 3.4s linear infinite .9s;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
}

.main_flex_rune_second .small {
  width: 240px;
  height: 240px;
  background-image: url(../img/img/rune/2/sale3.png);
  animation: anim2 2.8s linear infinite .3s;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
}

.main_flex_rune_third {
  position: absolute;
  top: 660px;
  left: calc(50% - 10px)
}

.main_flex_rune_third .big {
  width: 240px;
  height: 240px;
  background-image: url(../img/img/rune/3/symbol1.png);
  animation: anim 2.4s linear infinite .2s;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
}

.main_flex_rune_third .middle {
  width: 240px;
  height: 240px;
  background-image: url(../img/img/rune/3/symbol2.png);
  animation: anim1 3.4s linear infinite .5s;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
}

.main_flex_rune_third .small {
  width: 240px;
  height: 240px;
  background-image: url(../img/img/rune/3/symbol3.png);
  animation: anim2 2.8s linear infinite .9s;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
}

.main_flex_rune_fourth {
  position: absolute;
  top: 900px;
  left: calc(50% - 230px)
}

.main_flex_rune_fourth .big {
  width: 240px;
  height: 240px;
  background-image: url(../img/img/rune/4/time1.png);
  animation: anim 2.4s linear infinite .1s;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
}

.main_flex_rune_fourth .middle {
  width: 240px;
  height: 240px;
  background-image: url(../img/img/rune/4/time2.png);
  animation: anim1 3.4s linear infinite .7s;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
}

.main_flex_rune_fourth .small {
  width: 240px;
  height: 240px;
  background-image: url(../img/img/rune/4/time3.png);
  animation: anim2 2.8s linear infinite .4s;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
}

.explanation {
  position: absolute;
  width: 400px;
  display: none;
  z-index: 10;
  margin-left: -188px;
  margin-top: -220px;
}

.explanation::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 10%;
  width: 80%;
  height: 1px;
  background: linear-gradient(90deg, rgba(124, 139, 154, 0) 0%, rgba(124, 139, 154, 1) 50%, rgba(124, 139, 154, 0) 100%);
  transition: .6s;
}

.explanation::before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0px;
  left: 10%;
  width: 80%;
  height: 1px;
  background: linear-gradient(90deg, rgba(124, 139, 154, 0) 0%, rgba(124, 139, 154, 1) 50%, rgba(124, 139, 154, 0) 100%);
  z-index: 1;
  transition: .6s;
}

.explanation.active {
  display: block;
}

.explanation_box {
  width: 100%;
  background: #000000B8;
  backdrop-filter: blur(24px);
  border-radius: 12px;
  padding: 24px 16px;
  position: relative;
  color: #FFFFFFA3;
  font-family: 'Halvar';
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
}
.main_link{
  transition: .6s;
}
.main_link:hover h2{
  color: #EB6F02;
}

@media (max-width: 1270px) {
  .container {
    max-width: none;
    width: 100%;
    padding: 0 20px;
  }

  .main_flex_rune::after {
    height: 1500px;
  }

  .main_flex_rune_second {
    top: 1150px;
  }

  .explanation {
    width: 300px;
    margin-left: -138px;
    margin-top: -220px;
  }

  .explanation_box {
    padding: 18px 12px;
    font-size: 12px;
    line-height: 17px;
  }
}

@media (max-width: 1000px) {
  .main_flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: -100px;
    position: relative;
    padding-bottom: 344px;
  }

  .main_flex_rune {
    width: 100%;
    height: 1600px;
    order: 1;
  }

  .main_flex_collection {
    order: 2;

  }



  .main_flex_collection_item.absolute {
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
  }

  h1 {
    font-size: 88px;
    line-height: 88px;
  }

  .header_btn_headling p {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.25em;
  }

  .main h2 {
    font-size: 54px;
    line-height: 98px;
    margin-top: 50px;
    transition: .6s;
  }

  .main h3 {
    font-size: 30px;
    line-height: 68px;
    margin-top: 47px;
  }

  .main_more span {
    font-size: 16px;
    line-height: 16px;
    margin-right: 4px;
  }
}

@media (max-width: 900px) {
  .main_flex {
    margin-top: -70px;
  }

  .main_flex_rune::after,
  .main_flex_rune {
    height: 1300px;
  }

  .main_flex_rune_item,
  .main_flex_rune_item .big,
  .main_flex_rune_item .middle,
  .main_flex_rune_item .small {
    width: 180px !important;
    height: 180px !important;
  }

  .main_flex_rune_item span {
    font-size: 30px;
    line-height: 100%;
    bottom: -15px;
    left: 0px;
    width: 180px;
  }

  .main_flex_rune_first {
    top: 340px;
  }

  .main_flex_rune_third {
    top: 560px;
  }

  .main_flex_rune_fourth {
    top: 780px;
  }

  .main_flex_rune_second {
    top: 1000px;
  }

  .main_flex_collection {
    margin-top: 50px;
  }
}

@media (max-width: 800px) {
  .header_btn {
    margin: 20px 0 0px 0;
    justify-content: center;
    position: relative;
  }

  .header_btn_left,
  .header_btn_right {
    position: absolute;
    bottom: -150px;
  }

  .header_btn_left {
    left: 0;
  }

  .header_btn_right {
    right: 0;
  }

  section.main {
    padding-top: 100px;
  }

  .main h2 {
    font-size: 40px;
    line-height: 78px;
    margin-top: 50px;
  }

  .main_flex_rune_first {
    top: 340px;
  }

  .main_flex_rune_third {
    top: 500px;
  }

  .main_flex_rune_fourth {
    top: 660px;
  }

  .main_flex_rune_second {
    top: 820px;
  }

  footer {
    margin: 60px auto 30px auto;
    max-width: none;
    width: auto;
    padding: 0 20px;
  }

  .footer {
    padding: 0 36px;
  }
}

@media (max-width: 650px) {
  h1 {
    font-size: 64px;
    line-height: 64px;
  }

  .header_btn_headling p {
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.10em;
  }

  .header_btn_left,
  .header_btn_right {
    max-width: none;
    width: calc(50% - 4px);
    height: 72px;
  }

  .header_btn_box {
    height: 32px;
  }

  .header_btn_left a,
  .header_btn_right_box a {
    height: 32px;
  }

  .header_btn_left,
  .header_btn_right {
    bottom: -130px;
  }

  .header_btn_right_user {
    width: 32px;
    height: 32px;
    margin-right: 0px;
    position: absolute;
    top: -2px;
  }

  .header_btn_right_user img {
    width: 20px;
    height: 20px;
  }

  .header_btn_right .header_btn_box {
    display: flex;
    justify-content: flex-end;
  }

  .header_btn_right .header_btn_box:nth-child(1) .header_btn_item {
    width: calc(100% - 40px);
  }

  .header_btn_left a span,
  .header_btn_right_box a span {
    font-size: 14px;
    line-height: 100%;
  }

  .main_flex_rune::after,
  .main_flex_rune {
    height: 1000px;
  }

  .main_flex_rune_item,
  .main_flex_rune_item .big,
  .main_flex_rune_item .middle,
  .main_flex_rune_item .small {
    width: 120px !important;
    height: 120px !important;
  }

  .main_flex_rune_first {
    top: 280px;
    left: calc(50% - 180px);
  }

  .main_flex_rune_third {
    top: 420px;
    left: calc(50% + 60px);
  }

  .main_flex_rune_fourth {
    top: 560px;
    left: calc(50% - 180px);
  }

  .main_flex_rune_second {
    top: 720px;
    left: calc(50% + 60px);
  }

  .main_flex_collection {
    width: calc(50% - 10px);
  }

  .main_flex_collection_btn {
    width: 100%;
    height: 48px;
    font-size: 16px;
    line-height: 100%;
    margin-bottom: 0px;
  }

  .addition {
    width: 100%;
  }

  .main_flex_collection_item_wrap {
    width: calc(100% - 28px);
    height: 144px;
  }

  .main_flex_collection_item_wrap img {
    width: 25px;
    height: 25px;
  }

  .main_flex_collection_item_wrap span {
    font-size: 16px;
    line-height: 100%;
    margin-top: 10px;
  }

  .main_flex_collection_item_wrap p {
    margin-top: 4px;
    font-size: 10px;
    line-height: 100%;
  }

  .main_flex_collection_item {
    width: 100%;
    margin-top: 42px;
    height: 173px;
  }

  .main_flex_collection_item::before,
  .main_flex_collection_item::after {
    height: 170px;
    background-size: contain;
    width: 45px;
    top: 2px;
  }


  .main_flex {
    padding-bottom: 244px;
  }

  .footer {
    padding: 0 20px;
  }

  .footer a {
    width: 138px;
    height: 32px;
  }

  .footer a span {
    font-size: 14px;
    line-height: 100%;
    margin-left: 4px;
  }

  .main h3 {
    font-size: 25px;
    line-height: 68px;
    margin-top: 37px;
  }

  .main_flex_rune_item span {
    font-size: 20px;
    bottom: -10px;
    left: 0px;
    width: 120px;
  }

  .header_btn_box::after,
  .header_btn_box::before {
    left: calc(40px + 10%);
    width: calc(80% - 40px);
  }
  .main_model{
    top: 20px;
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 500px) {

  .main_flex_rune::after,
  .main_flex_rune {
    height: 750px;
  }

  .main_flex_rune_item,
  .main_flex_rune_item .big,
  .main_flex_rune_item .middle,
  .main_flex_rune_item .small {
    width: 100px !important;
    height: 100px !important;
  }

  .main_flex_rune_item span {
    font-size: 18px;
    width: 100px;
  }

  .main_flex_rune_first {
    top: 200px;
    left: calc(50% - 150px);
  }

  .main_flex_rune_third {
    top: 310px;
    left: calc(50% + 50px);
  }

  .main_flex_rune_fourth {
    top: 420px;
    left: calc(50% - 150px);
  }

  .main_flex_rune_second {
    top: 540px;
    left: calc(50% + 50px);
  }

  .footer {
    padding: 20px 20px;
    flex-direction: column;
    height: auto;
  }

  .footer a {
    margin: 4px 0;
  }

  body {
    background-image: url(../img/img/body_mobail.png);
  }

  .explanation {
    width: calc(100% - 40px);
    margin-left: 0px;
    margin-top: -180px;
  }

  .explanation_box {
    padding: 18px 12px;
    font-size: 12px;
    line-height: 17px;
  }

  .header {
    height: 42px;
    border-radius: 12px;
    margin-top: 12px;
    backdrop-filter: blur(12px);
  }

  .header_flex {
    height: 42px;
  }

  .header_flex_item span {
    color: #fff;
    font-size: 12px;
    margin-left: 3px;
    width: auto;
  }

  .header_flex_line {
    width: 30px;
    margin: 0 3px;
  }
  .footer a i{
    width: 16px;
    height: 16px;
  }
  .main_model{
    top: -20px;
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 425px) {

  .main_flex_rune_item,
  .main_flex_rune_item .big,
  .main_flex_rune_item .middle,
  .main_flex_rune_item .small {
    width: 90px !important;
    height: 90px !important;
  }

  .main_flex_rune_item span {
    font-size: 16px;
    width: 90px;
    bottom: -15px;
  }

  .main_flex_rune::after,
  .main_flex_rune {
    height: 650px;
  }

  .main_flex_rune_first {
    top: 170px;
    left: calc(50% - 150px);
  }

  .main_flex_rune_third {
    top: 270px;
    left: calc(50% + 50px);
  }

  .main_flex_rune_fourth {
    top: 370px;
    left: calc(50% - 150px);
  }

  .main_flex_rune_second {
    top: 480px;
    left: calc(50% + 50px);
  }

  .main_flex_collection_item_wrap {
    width: calc(100% - 5px);
    height: 100px;
    border-radius: 6px;
  }

  .main_flex_collection_item {
    height: 100px;
  }

  .main_flex {
    padding-bottom: 204px;
  }

  footer {
    margin: 30px auto 30px auto;
  }

  .footer a {
    width: 100%;
  }

  .main_more {
    margin-bottom: 32px;
  }

  .main_flex_collection_item::before,
  .main_flex_collection_item::after {
    height: 116px;
    background-size: contain;
    width: 29px;
    top: -8px;
  }

  .main_flex_collection_item::after {
    left: -6px;
  }

  .main_flex_collection_item::before {
    right: -7px;
  }
  .main_model{
    top: -40px;
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 385px) {

  .main_flex_rune::after,
  .main_flex_rune {
    height: 600px;
  }

  .main_flex_rune_first {
    top: 150px;
    left: calc(50% - 150px);
  }

  .main_flex_rune_third {
    top: 240px;
    left: calc(50% + 50px);
  }

  .main_flex_rune_fourth {
    top: 330px;
    left: calc(50% - 150px);
  }

  .main_flex_rune_second {
    top: 420px;
    left: calc(50% + 50px);
  }

  .main_flex_collection_item_wrap {
    width: calc(100% - 5px);
    height: 100px;
  }

  .main_flex_collection_item {
    height: 100px;
  }

  .explanation {
    width: calc(100% - 40px);
    margin-left: 0px;
    margin-top: -200px;
  }
}

@media (max-width: 325px) {

  .main_flex_rune_item,
  .main_flex_rune_item .big,
  .main_flex_rune_item .middle,
  .main_flex_rune_item .small {
    width: 80px !important;
    height: 80px !important;
  }

  .main_flex_rune_item span {
    font-size: 14px;
    width: 80px;
    bottom: -15px;
  }

  .main_flex_rune::after,
  .main_flex_rune {
    height: 500px;
  }

  .main_flex_rune_first {
    top: 140px;
    left: calc(50% - 120px);
  }

  .main_flex_rune_third {
    top: 190px;
    left: calc(50% + 40px);
  }

  .main_flex_rune_fourth {
    top: 260px;
    left: calc(50% - 120px);
  }

  .main_flex_rune_second {
    top: 330px;
    left: calc(50% + 40px);
  }

  .main_flex_collection_item_wrap {
    width: calc(100% - 5px);
    height: 80px;
  }

  .main_flex_collection_item {
    height: 80px;
  }

  .main_flex {
    padding-bottom: 164px;
  }

  .main_flex_collection_item.absolute {
    bottom: 40px;
  }

  .main_flex_collection_btn {
    font-size: 14px;
  }

  .main_flex_collection_item::before,
  .main_flex_collection_item::after {
    height: 94px;
    background-size: contain;
    width: 29px;
    top: -7px;
  }

  .main_flex_collection_item::after {
    left: -7px;
  }

  .main_flex_collection_item::before {
    right: -8px;
  }

}